*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #2E4057;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 2.5em;
    color: #f1f1f1;
    text-align: center;
    margin: 80px 0px;
}
.container {
    height: auto;
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 920px) {
    .container {
        width: 100%;
        justify-content: center;
    }
}

.box {
    height: 200px;
    width: 200px;
    background: #D7F9F1;
    margin: 0px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.contLine {
    width: 60px;
    height: 42px;
    cursor: pointer;
    position: relative;
}
.lines {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #1B2021;
    position: absolute;
    transition: all .5s ease-in-out;
}

.lines:nth-child(1){
    top: 0px;
}
.lines:nth-child(2){
    top: 18px;
}
.lines:nth-child(3){
    top: 36px;
}

/* Animation 1 */

.btn1.active .lines:nth-child(1){
    transform: translateY(18px);
}

.btn1.active .lines:nth-child(2){
    opacity: 0;
}

.btn1.active .lines:nth-child(3){
    transform: translateY(-18px);
}

/* Animation 2 */

.btn2.active .lines:nth-child(1){
    top: 18px;
    transform: rotate(135deg);
}

.btn2.active .lines:nth-child(2){
    opacity: 0;
}

.btn2.active .lines:nth-child(3){
    top: 18px;
    transform: rotate(-135deg);
}

/* Animation 3 */

.contLine.btn3{
    transition: all 0.5s ease-in-out;
}

.contLine.btn3.active{
    width: 35px;
}

.btn3.active .lines:nth-child(1){
    transform: rotate(90deg) translate(18px, 18px);
}

.btn3.active .lines:nth-child(2){
    width: 20%;
    transform: rotate(90deg) translateY(-14px);
}

.btn3.active .lines:nth-child(3){
    transform: rotate(90deg) translate(-18px, -18px);
}

/* Animation 4 */

.contLine.btn4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn4.active .lines{
    width: 35%;
}

.btn4.active .lines:nth-child(1){
    transition: all 0.4s ease-in-out;
    transform: translateY(6px);
}

.btn4.active .lines:nth-child(2){
    transition: all 0.4s 0.15s ease-in-out;
}

.btn4.active .lines:nth-child(3){
    transition: all 0.4s 0.3s ease-in-out;
    transform: translateY(-6px);
}

/* Animation 5 */

.btn5.active .lines:nth-child(1){
    transform: rotate(-55deg) translate(-18px, 2px);
    width: 85%;
}

.btn5.active .lines:nth-child(2){
    transform: rotate(55deg) translate(10px, -16px);
    width: 85%;
}

.btn5 .circle{
    top: -2px;
    right: 25px;
    opacity: 0%;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    transition: all .3s ease-in; 
}

.btn5.active .circle{
    top: 18px;
    opacity: 100%;
    transition: all .35s .2s ease-in;
}

/* Animation 6 */

.rightLine {
    opacity: 0%;
    width: 0%;
    height: 6px;
    border-radius: 5px;
    background: #1B2021;
    position: absolute;
    transition: all .5s .5s ease-in-out;
    transform: rotate(90deg) translate(18px, -28px);
}

.btn6 .rightLine{
    transition: all .5s ease-in-out; 
}

.btn6.active .rightLine{
    opacity: 100%;
    width: 100%;
    transition: all .5s .5s ease-in-out; 
}

.crossLine {
    opacity: 0;
    width: 70%;
    height: 6px;
    border-radius: 5px;
    background: #1B2021;
    position: absolute;
    transform: rotate(135deg);
    top: 18px;
    left: 9px;
}

#crossLeft{
    transform: rotate(135deg);
}

#crossRight{
    transform: rotate(-135deg);
}

.btn6 .crossLine{
    transition: all .3s ease-in-out;
}

.btn6.active .crossLine{
    opacity: 100%;
    transition: all .5s .9s ease-in-out;
}

.btn6 .lines{
    transition: all .5s .5s ease-in-out;
}

.btn6.active .lines{
    transition: all .5s ease-in-out; 
}

.btn6.active .lines:nth-child(1){
    transform: translateY(-10px);
}

.btn6.active .lines:nth-child(2){
    transform: rotate(90deg) translateY(28px);
}

.btn6.active .lines:nth-child(3){
    transform: translateY(10px);
}

/* Animation 7 */

.btn7.active .lines{
    transform: rotate(145deg) translate(-8px, -8px);
    width: 60%;
}

/* Animation 8 */

.btn8.active .lines{
    height: 10px;
    width: 10px;
    transform: rotate(90deg) translateY(-26px);
}

/* Animation 9 */

.btn9 {
    position: relative;
    transition: all .3s ease-in-out;
}

.btn9.active{
    transform: rotate(45deg);
}

.btn9::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border: 5px solid transparent;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.btn9.active::before{
    transition-delay: 0.3s !important;
    border: 5px solid black;
}

.btn9.active .lines{
    width: 35px;
}

.btn9.active .lines:nth-child(2){
    transition: all .1s ease-in;
    opacity: 0;
}

.btn9.active .lines:nth-child(1){
    transform: translate(12.5px, 18px);
}

.btn9.active .lines:nth-child(3){
    transform: translate(12.5px, -18px) rotate(90deg);
}

/* Animation 10 */

.singleLine {
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    top: 18px;
    transition: all 0ms 300ms;
}
.btn10.active .singleLine {
    background: rgba(255,255,255,0);
}

.singleLine::before {
    content: "";
    position: absolute;
    bottom: 18px;
    background: #000;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    transition: bottom 300ms 300ms ease, transform 300ms ease;
}
.singleLine::after {
    content: "";
    position: absolute;
    top: 18px;
    background: #000;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    transition: top 300ms 300ms ease, transform 300ms ease;
}

.btn10.active .singleLine::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms ease, transform 300ms 300ms ease;
}
.btn10.active .singleLine::before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms ease, transform 300ms 300ms ease;
}


/* Animation 11 */

.btn11.active .lines:nth-child(1){
    width: 10px;
    transform: translateY(18px);
    opacity: 0;
    transition: width .4s ease-in-out, transform .4s .4s ease-in-out, opacity .4s .5s ease-in-out;
}

.btn11.active .lines:nth-child(2){
    transform: translateX(12px);
    width: 60%;
    transition: transform .4s .8s ease-in-out , width .4s .8s ease-in-out;
}


.btn11.active .lines:nth-child(3){
    width: 10px;
    top: 18px;
    right: 0px;
    opacity: 0;
    transition: width .4s ease-in-out, top .4s .4s ease-in-out, opacity .4s .5s ease-in-out;
}
